@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
/* @import url(../styles/profile-page.css); */
@import url(../styles/index.css);

:root {
    --background-color: #F7F9FB;
    --text-primary-color: #181818;
    --text-secondary-color: #0275B1;
    --detail-color: #E9F0F8;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: var(--background-color);
    color: var(--text-primary-color);
}

a{
    text-decoration: none;
}
ul, li{
    list-style-type: none;
}
input, button, textarea {
    font-family: 'Montserrat', sans-serif;
}