@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url(../styles/profile-page.css);
@import url(../styles/index.css);
@import url(../styles/network.css);

:root {
    --background-color: #F7F9FB;
    --text-primary-color: #181818;
    --text-secondary-color: #0275B1;
    --link-hover-color: rgb(2, 117, 177, 0.6);
    --detail-color: #E9F0F8;
    --detail-hover-color: #f1f4f7;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-primary-color);
}

a{
    text-decoration: none;
}
ul, li{
    list-style-type: none;
}
input, button, textarea {
    font-family: 'Montserrat', sans-serif;
}


/* ==== ==== HEADER ==== ==== */

header{
    width: 100%;
    box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
    border-radius: 4px; 
    margin-bottom: 40px;
}
.header-container{  
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
.header-logo{
    cursor: pointer;
}
.header-image, .header-nav, .header-search, .header-profile, .header-more{
    padding: 0 20px;
    border-right: 1px solid #F4F4F4;
}

/* HEADER NAV*/

.header-nav nav ul{
    display: flex;
    gap: 40px;
}
.header-nav nav ul li{
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.header-nav a {
    color: var(--text-primary-color);
}
.header-nav p {
    padding-top: 5px;
}
.header-count{
    position: absolute;
    margin: -5px 0 0 -10px ;
}
.feed-active {
    color: var(--text-secondary-color);
}
.feed-active a {
    color: var(--text-secondary-color);
}
.feed-active a:hover {
    color: var(--link-hover-color);
}

/* HEADER SEARCH */

.header-search{
    display: flex;
    gap: 10px;
}
.header-search input{
    outline: none;
    border: none;
    min-width: 50px;
    background-color: inherit;
    
}
.header-search input::placeholder {
    font-size: 1.1rem;
    color: #18181833;
}

/* HEADER PROFILE */

.header-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-profile-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-profile-content div{
    display: flex;
    gap: 10px;
}

.header-profile-content div p, .header-profile-content span{
    font-size: 0.75rem; 
    color: var(--text-primary-color);
    font-weight: 600;
}
.header-profile-content div:first-child span{
    color: var(--text-primary-color);
    opacity: 0.2;
}
.header-profile-content div:last-child p{
    color: #747474;
}
.header-profile-content div:last-child span{
    color: #02B033;
}

/* HEADER MORE */

.header-more{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 10px;
}
.header-more span{
    font-size: 2rem;
    line-height: 0.875;
}


/* ---- ---- FOOTER ---- ---- */
.index-container {
    margin: 0 auto;
    max-width: 1200px;
}
.footer-container {
    margin-top: 40px;
    display: flex;
    height: 215px;
    max-height: 215px;
    border-top: 1px solid #E7E7E7;
    background: linear-gradient(180deg, #f1f4f8cc 0%, #f1f4f800 100%);
}
.footer-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}
.footer-content p {
    font-size: 0.80rem;
    font-weight: 700;
    user-select: none;
}

/* FOOTER LINKS */
.footer-nav {
    display: flex;
    gap: 40px;
}
.footer-nav-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-nav-2,
.footer-nav-3 {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}
.footer-nav li {
    padding-bottom: 10px;
}
.footer-nav-1 li:last-child,
.footer-nav-2 li:last-child,
.footer-nav-3 li:last-child {
    padding-bottom: 0;
}
.footer-nav ul li a {
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 0.75rem;
}
.footer-nav ul li a:hover {
    color: var(--text-secondary-color);
}

/* FOOTER BUTTONS */
.footer-buttons {
    display: flex;
    flex-direction: column;
}
.footer-buttons p {
    padding-bottom: 25px;
}
.footer-buttons button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 35px;
    margin-bottom: 10px;
    padding: 0 15px 0;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--text-secondary-color);
}
.footer-btn-1 {
    color: white;
    background-color: var(--text-secondary-color);
}
.footer-btn-1:hover {
    background-color: rgb(2, 117, 177, 0.8);
}
.footer-btn-2 {
    background-color: transparent;
    color: var(--text-secondary-color);
}
.footer-btn-2:hover {
    background-color: white;
}

/* FOOTER LANGUAGES */
.footer-lang {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-lang select {
    width: 270px;
    height: 30px;
    border: none;
    text-transform: uppercase;
    padding: 0 15px 0;
    font-weight: 500;
}