@import url(../styles/global.css);


/* ==== ==== FEED PAGE ==== ==== */
.index-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 5%;
}
.index-container hr {
    opacity: 0.15;
}
.index-container span {
    color: var(--text-secondary-color);
    cursor: pointer;
}
.index-container span:hover {
    color: var(--link-hover-color);
}


/* ---- ---- MAIN ---- ---- */
.index-main-container {
    width: 70%;
}


/* NEW POST */
.new-post-container {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 30px 0;
    background-color: white;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}
.new-post-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.new-post-title {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    user-select: none;
}
.new-post-content input {
    border: none;
    height: 40px;
    width: 75%;
    font-size: 1.125rem;
    font-weight: 500;
}
.new-post-content input:focus {
    outline: none;
}
.new-post-content input::placeholder {
    font-size: 1.125rem;
    font-weight: 400;
}
.new-post-icons {
    display: flex;
    gap: 20px;    
}
.new-post-icons img {
    cursor: pointer;
}


/* SORT BY */
.sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.sort-container hr {
    width: 40%;
}
.sort-container p {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    user-select: none;
}
.sort-container select {
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--text-secondary-color);
}
.sort-container option {
    color: var(--text-primary-color);
    text-transform: capitalize;
}


/* POST DEFAULT STYLE */
.post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
}
.post-reaction-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.post-reaction-status p {
    font-size: 0.75rem;
    user-select: none;
}
.post-reaction-status img {
    cursor: pointer;
}
.post-content {
    padding: 15px 30px 20px;
}
.post-mini-user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    font-size: 0.875rem;
}
.post-mini-user img {
    cursor: pointer;
}
.post-mini-user-info .name {
    font-weight: 700;
    padding-bottom: 5px;
    cursor: pointer;
}
.post-mini-user-info .title {
    font-size: 0.80rem;
    cursor: pointer;
}
.post-text {
    font-size: 0.90rem;
    line-height: 150%;
    margin-bottom: 15px;
}
.post-content a {
    color: var(--text-secondary-color);
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}
.post-content a:hover {
    color: var(--link-hover-color);
}
.post-reactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-reactions span {
    color: var(--text-primary-color);
    font-size: 0.75rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}
.like-comment {
    display: flex;
    align-items: center;
}
.like,
.comment,
.share {
    display: flex;
    align-items: center;
    height: 50px;
    border-right: 1px solid rgb(24, 24, 24, 0.15);
    padding: 0 30px 0;
    cursor: pointer;
}
.like:hover span,
.comment:hover span,
.share:hover span {
    color: var(--text-secondary-color);
}
.share {
    border-right: none;
    border-left: 1px solid rgb(24, 24, 24, 0.15);
    text-transform: uppercase;
}


/* POST 1 */
.post-1 {
    background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}







/* ASIDE */
.index-aside-container {
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}